<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212740635707-4j3jfmfhuapff3ji4j2ticohdmost2qp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212740635707-4j3jfmfhuapff3ji4j2ticohdmost2qp</string>
	<key>API_KEY</key>
	<string>AIzaSyBZJpkZ4C8p2ltm46oNut8MHrRz202TZNw</string>
	<key>GCM_SENDER_ID</key>
	<string>212740635707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecoFriendly</string>
	<key>PROJECT_ID</key>
	<string>eco-friendly-7ee01</string>
	<key>STORAGE_BUCKET</key>
	<string>eco-friendly-7ee01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212740635707:ios:64bf77c4437a2a0acaf01e</string>
</dict>
</plist>